.top_banner_and_nav {
    margin: auto;
    max-width: 100%;
    max-height: 25%;
    position: relative;
}

.mid_links {
    position: absolute;
    top: 10%;
    left: 50%;
}

.mid_links ul {
    list-style-type: none;
}

