.top_banner_and_nav {
    margin: auto;
    max-width: 100%;
    max-height: 25%;
    position: relative;
}

.mid_links {
    position: absolute;
    top: 5%;
    left: 35%;
    text-align: center;
}

.mid_links ul {
    list-style-type: none; /* Remove bullets from list */
    display: inline-block; /* Helps display links horizontally */
    padding: 0;
    margin: 0;
}

.mid_links li {
    float: left; /* Display links horizontally */
}

.mid_links a {
    color: white;
}

.mid_links ul li {
    margin: 0 2rem;
}



